---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Home">
	<h1>Lego Collection</h1>
	<hr />
	<ul>
		<li>
			<a href="/sets">View Sets</a>
		</li>
		<li>
			<a href="/minifigures">View Minifigures</a>
		</li>
	</ul>
</BaseLayout>
