---
import type { CollectionEntry } from 'astro:content';
import LegoSetRecirculationItem from './LegoSetRecirculationItem.astro';
type Props = {
  collection: 'sets' | 'minifigures';
  title: string;
  sets: Array<CollectionEntry<'sets' | 'minifigures'>>;
};

const { collection, title, sets } = Astro.props;
---

<aside
  class="bg-yellow-400 bg-opacity-30 dark:bg-slate-400 dark:bg-opacity-20 p-4"
>
  <div class="flex flex-col gap-2 md:gap-4 mx-auto max-w-screen-md">
    <h3 class="text-lg text-sky-700 dark:text-sky-300">{title}</h3>
    <section class="overflow-x-scroll mx-[-1rem] md:mx-0">
      <ul class="flex w-max gap-2 md:gap-4 px-4 md:px-0">
        {
          sets.map((set) => (
            <li>
              <LegoSetRecirculationItem
                collection={collection}
                legoSetData={set.data}
                setId={set.id}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</aside>
