---
type Props = {
  title: string;
  value: string | number;
};
const { title, value } = Astro.props;
---

<div class="flex flex-col text-center">
  <p class="text-sm font-bold text-sky-700 dark:text-sky-300">{value}</p>
  <p class="text-xs text-gray-500 dark:text-slate-400">{title}</p>
</div>
